@charset "utf-8";

@font-face {
    font-family: demo;
    src: url(fonts/CoffeesDemoRegular.ttf);

}

@font-face {
    font-family: sunday;
    src: url(fonts/Sunday\ Coffee\ Font\ -\ Free\ Trial.otf) format(opentype), url(fonts/Sunday\ Coffee\ Font\ -\ Free\ Trial.ttf) format(truetype);

}
        
@font-face {
    font-family: latte;
    src: url(fonts/Coffee\ Latte.ttf);

}

:root {

    /* Colour Palette: */
    --color0: #f7dad9;
    --color1: #a5907e;
    --color2: #786452;
    --color3: #443730;
    --color4: #550c18;
    --shadow: #00000073;

    /* Fonts */
    --font0: Verdana, Geneva, Tahoma, sans-serif;   /* serif font */
    --font1: 'sunday';                              /* sans-serif font */
    --font2: 'demo';                                /* cursive title */
    --font3: 'latte';                               /* simple title */

}

* {
    padding: 0px;
    margin: 0px;

}

body {
    background-image: linear-gradient(to bottom var(--color1),var(--color0));

}

header {
    background-color: var(--color4);
    color: var(--color1);

}

main {
    background-color: white;
    box-shadow: var(--shadow);
    text-align: justify;
    max-width: 1020px;
    padding: 10px 10px 30px 10px;

}

footer {
    background-color: var(--color4);
    color: var(--color1);

}

img {
    margin: 10px 0px 10px 20px;
    float: right;

}

p {
    display: inline;
    clear: both;

}

strong {
    color: var(--color4);

}

#navColor {
    background-color: var(--color4);
    color: var(--color1);

}

.formatMap {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 600px;

}