@charset "utf-8";

@font-face {
    font-family: demo;
    src: url(fonts/CoffeesDemoRegular.ttf);

}

@font-face {
    font-family: sunday;
    src: url(fonts/Sunday\ Coffee\ Font\ -\ Free\ Trial.otf) format(opentype), url(fonts/Sunday\ Coffee\ Font\ -\ Free\ Trial.ttf) format(truetype);

}
        
@font-face {
    font-family: latte;
    src: url(fonts/Coffee\ Latte.ttf);

}

/*General*/
:root {

    /* Colour Palette: */
    --color0: #f7dad9;
    --color1: #a5907e;
    --color2: #786452;
    --color3: #443730;
    --color4: #550c18;
    --shadow: #00000056;

    /* Fonts */
    --font0: Verdana, Geneva, Tahoma, sans-serif;   /* serif font */
    --font1: 'sunday';                              /* sans-serif font */
    --font2: 'demo';                                /* cursive title */
    --font3: 'latte';                               /* simple title */

}

* {
    padding: 0px;
    margin: 0px;

}

.formatLink {
    text-decoration: none;
    color: var(--color1);

}

.formatLink:hover {
    color: var(--color1);
    text-decoration: underline;

}

.title {
    width: 100%;
    height: 280px;
    padding-top: 100px;
    text-align: center;
    font-family: var(--font3);

}

.block {
    display: block;

}

.clear {
    clear: both;

}

#navColor {
    background-color: var(--color4);
    color: var(--color1);

}

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--color1), var(--color0));
    background-size: 100%;

}

header {
    background-color: var(--color4);
    color: var(--color1);

}

nav {
    color: var(--color1);
    height: 7vh;

}

main {
    background-color: white;
    box-shadow: 2px 2px 10px var(--shadow);
    text-align: justify;
    max-width: 1020px;
    margin: 0px auto 100px auto;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 20px 30px 20px;
    clear: both;

}

footer {
    width: 100%;
    height: 30px;
    background-color: var(--color4);
    color: var(--color1);
    text-align: center;

}

strong {
    color: var(--color4);

}

p {
    font-family: var(--font0);
}

/*Home page*/
.imgTitle {
    background: var(--color4) url(imagens/coffee-hands.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;

}

.mainTitle {
    position: relative;
    top: 85vh;
    padding-left: 15px;
    color: var(--color2);
    font-family: var(--font2);

}

.newsPanel{
    margin: 50px auto 60px auto;
    width: 80%;
    background-color: #a5907e2d;
    border: 2px solid var(--color4);
    text-align: center;
    padding-bottom: 40px;

}

#newsTitle {
    padding: 10px 30px;
    text-align: left;
    color: var(--color4);
    font-family: var(--font1);

}

.square{
    margin: 2% 1%;
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: white;
    border: 2px solid var(--color4);
    display: inline-block;

}

.newsTitle {
    color: var(--color4);
    background-color: #a5907e46;
    box-shadow: 1px 1px 5px var(--shadow);
    font-family: var(--font1);

}

.newsText {
    text-align: justify;
    font-family: var(--font1);
    line-height: 1.8em;
    padding: 5px 5px 10px 5px;
    text-indent: 20px;

}

.titleBg {
    width: 100%;
    margin: 10px 0px;
    padding: 5px;
    background-image: linear-gradient(to right, #a5907e6c, white);
    color: var(--color4);
    font-family: var(--font0);
}

.formatMapPanel {
    margin: 30px 0px;
    padding: 0px;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: inline-block;

}

.mapText {
    width: 360px;
    padding-left: 10px;
    text-align: justify;
    display: inline-block;

}

iframe {
    width: 100%;
    height: 100%;

}

/*About us page*/
.imgAboutUs {
    min-width: 65%;
    margin: 10px 0px 10px 20px;
    float: right;

}

/*Contact us*/
.titleLight {
    padding-left: 10px;
    margin-bottom: 5vh;
    color: var(--color1);
    font-family: var(--font0);

}

.formatIcon {
    height: 10%;
    width: 9%;
    float: left;
    text-align: center;
    margin:0% 1%;

}

.formatEmail {
    height: 10%;
    width: 40%;
    margin: 20px 0px 0px 100px;
    display: inline-block;
    text-align: center;

}

.formatContact {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    
}

.contactPanel {
    display: block;
    margin: auto;
}

.link {
    font-weight: bold;
    text-decoration: none;
    color: var(--color4);

}

.linkEmail {
    border: 2px solid var(--color4);
    border-radius: 10px;
    font-weight: bold;

    text-decoration: none;
    color: var(--color4);
    padding: 5px;

}

.link:hover {
    color: var(--color4);
    text-decoration: underline;
}

.linkEmail:hover {
    color: white;
    background-color: var(--color4);
}

label, .button {
    margin-top: 20px;
    
}

.formatComment {
    height: 25vh;

}

section.contact {
    margin: 20px 0px 40px 0px;
}

/*Procuts page*/
.productPanel {
    display: inline-block;
    padding: 20px 0px;
    margin: 30px 0px;
}

.formatImgProduct {
    width: 100%;
    height: 100%;

}

.imgProduct {
    width: 39%;
    height: 260px;
    margin-right: 15px;
    float: left;

}

.textProduct {
    width: 59%;
    height: 260px;
    text-align: justify;
    padding: 10px;
    float: left;
    
}

@media only screen and (min-width: 1020px) {
    .mainTitle {font-size: 4em;}
}

@media only screen and (max-width: 1021px) {
    .formatMapPanel {
        width: 100%;
        display: block;
        margin: auto;
    }
    .mapText {
        width: 100%;
        padding: 30px 0px 0px 0px;
    }
}

@media only screen and (max-width: 850px) {
    .formatIcon {
        min-width: 80px; 
        width: 23%;
    }
    .blockIcon {
        width: 90%; 
        margin: auto;
    }
    .formatEmail {
        width: 90%; 
        padding: 5px; 
        display: block; 
        margin: 30px auto 0px auto;
    }
    .formatImgProduct {
        width: 100%;
        height: 100%;
    }
    .imgProduct {
        width: 70%;
        height: auto;
        margin: 15px auto;
        float: none;
        display: block;
    }
    .textProduct {
        width: 90%;
        height: auto;
        text-align: justify;
        padding: 10px;
        float: none;
        display: block;
        margin: auto;
    }
    .textProduct > h2 {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .img, p {width: 100%;}     
    .imgAboutUs {
        min-width: none;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .inline-block {
        display: inline-block;
    }
    .formatMapPanel {
        height: 400px;
    } 
    .mainTitle {
        text-align: center; 
        font-size: 2.8em;
        padding: 0px;
    }
    nav {
        height: auto;
    }
    .noPadding{
        padding: 0px;
    }
    .square{
        width: 300px;
    }
    .newsTitle{
        width: 90%;              
        margin: auto;
    }
    .newsText{
        width: 100%;
        margin: 0px;
        text-align: justify;
        margin-top: 2px;
    }
    .newsPanel{
        margin: 0px;
        width: 100%;
    }
    .formatMapPanel{
        width: 100%;
        height: 400px;
    }
    .mapText{
        width: 90%;
        padding-left: 0px;
        display: block;
        margin: auto;
    }
    .sectionmap{
        padding: 10px;
    }
    .mainTitle{
        font-size: xx-large;
    }
    .imgProduct {
        width: 90%;
    }    
}

@media only screen and (max-height: 700px) {
    .imgTitle {height: 91vh;}
    nav {height: auto;}
}

@media only screen and (max-width: 450px) {
    .Padding10 {
        padding-top: 10px;
    }
    .square {
        width: 280px;
    }
    .newsTitle {
        width: 90%;
        margin: auto;
    }
    .newsText {
        width: 100%;
        margin: 0px;
        text-align: justify;
        margin-top: 2px;
        line-height: 1.5em;
        padding-top: 10px;
    }
    .newsPanel {
        margin: 0px;
        width: 100%;
    }
    .formatMapPanel {
        width: 100%;
        height: 400px;
    }
    .mapText {
        width: 90%;
        padding-left: 0px;
        display: block;
        margin: auto;
    }
    .sectionmap {
        padding: 10px;
    }
    .mainTitle {
        font-size: xx-large;
    }
    .imgProduct {
        width: 100%;
    }
    .textProduct {
        width: 100%;
    }
    .formatIcon {
        margin: 20px 7% 20px 12%;
        padding-left: 10px;
    }
    .titleLight {
        font-size: x-large;
        text-align: center;
    }
    .blockIcon {
        margin: auto;
        display: block;
        float: none;
    }
    .contact {
        padding-bottom: 20px;
    }
    .footerContact p {
        font-family: var(--font1);
        font-size: 0.85em;
    }
    .mainTitle {
        font-size: 1.8em;
    }
    .linkEmail {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 350px) {
    .formatIcon {
        float: left;
        margin: 20px 6% 20px 6%;
        padding-left: 10px;
    }
}